body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.listCategory{
    color: white !important;
}

.header{
    background-color: white !important;
}

.logoTextBook{
    color: red !important;
}

.logoTextReader{
    color: black !important;
}

.headerLeftItems{
    margin-top: 0 !important;
}

.headerMainMenu{
    margin-top: 0 !important;
}

.menuItems{
    background-color: white !important;
}

/**/

.bookPicture{
    width: 224px;
    height: 295px;
    background-color: transparent;
    border-radius: 7px;

    padding-top: 140px;
}

.picture{
    width: 100%;
    height: 100%;
}

.readBtn{
    width: 218px;
    height: 52px;
    font-size: 16px;
    
    background-color: white;
    color: black !important;
    border-radius: 11px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    outline: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;    
}

.bookInfoText {
    color: white;
    padding: 5px 30px 5px 30px !important;
}