.header {
    background-color: black;
    height: 60px;
    width: 100%;
    
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    color: transparent;
    background-color: transparent;
}

p{
    border: 0px;
    margin: 0;
    padding: 0;
}

.logoTextReader{
    color: #ffffff;
   
}

.logoTextBook{ color: #FF0000;}

.menu{
    transform: scale(1s);
}

.menuItems.hidden {
    display: none !important;
}

.menuItems{
    display: none !important;
    display: flex !important; 
    position: fixed !important;
    z-index: 1000 !important;
    top: 60px !important;
    left: 0px !important;
    width: 100% !important;
    height: 40% !important;
    flex-direction: column !important;
    align-content: flex-end !important;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    gap: 46px !important;
    background-color: black !important;
   /* width: 274px; */
    
}

