.header {
    background-color: black;
    height: 60px;
    width: 100%;
    
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 160px;
    position: fixed;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    color: transparent;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: black;
    outline: none;
}

a:visited{
    color: white;
}

a:hover, a:focus{
    text-decoration: none;
    color: white;
} 

p{
    border: 0px;
    margin: 0;
    padding: 0;
}

.logoTextReader{
    color: #ffffff;
   
}

.logoTextBook{ color: #FF0000;}

.menu{
    transform: scale(1s);
}

.menuItems.hidden {
    display: none !important;
}

.menuItems{
    display: none !important;
    display: flex !important; 
    position: fixed !important;
    z-index: 1000 !important;
    top: 60px !important;
    left: 0px !important;
    width: 100% !important;
    height: 35% !important;
    flex-direction: column !important;
    align-content: flex-end !important;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    gap: 46px !important;
    background-color: black !important;
   /* width: 274px; */   
}

.listCategory{
    margin-top: 18px;
}

.listCategory a{
    padding: 15px;
}

.addBtn{
    position: relative;
    width: 11px;
    height: 11px;
}

.menu {
    margin-left: 16px; /* Измени значение по необходимости */
}

.headerLeftItems{
    margin-top: -6px;
}


.search {
    position: relative;
    width: 86px;
    
    max-width: 150px;
    margin-left: -155px;  
    margin-top: 0px; 
     
}

.searchIcon{
    width: 11px;
    height: 12px;
    position: absolute;
    right: -42px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    cursor: pointer;
}

.search input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 0px;
    border-radius: 5px;
    outline: none;
    height: 9px;
}


.headerMainMenu{
    margin-top: -45%;
}

/**/
.bookViewer {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    
 
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.bookText {
    max-width: 80%; /* Чтобы текст не растягивался слишком сильно */
    font-size: 20px; /* Размер шрифта */
    line-height: 1.8; /* Межстрочный интервал */
    text-align: justify; /* Выравнивание по ширине */
}

@media (max-width: 768px) {
    .bookText {
        font-size: 22px;
        line-height: 2;
    }
}

body.no-scroll {
    overflow: hidden;
    pointer-events: none; /* Отключает взаимодействие */
}

.main-content {
    display: none;
}


/* Контейнер для страниц */
.bookContent {
    height: 90%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: normal;
    color: black;
    line-height: 1.5;
    flex-grow: 1;
    scroll-behavior: smooth;

}

/* Страница книги */
.page {
    flex: 0 0 100vw; /* Одна страница = 100% экрана */
    width: 471%;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff1c1;
    font-size: 21px;
    padding: 21px;
    box-sizing: border-box;
    scroll-snap-align: start;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Панель управления (всегда внизу) */
.controlPanel {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 10px;
}

.controlPanel button {
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    height: 50px;
}

.bookmarkBtn{
    background-color: transparent;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: 0px;
    width: 180px;
    height: 50px;
}




